In [1]:
import numpy as np
import matplotlib.pyplot as plt

# import scipy.optimize as sciopt
import pandas as pd
from scipy import stats

# import scipy.integrate as scint
# import statsmodels.api as sm
import seaborn as sns

%load_ext nb_black

In [2]:
df = pd.read_excel("currentvotestats.xlsx")
for i in np.arange(3, 10, 2):
    df = df.drop(columns=[f"Unnamed: {i}"])

In [7]:
df = df.drop(index=67)

In [8]:
df["Orientation"] = df.apply(
    lambda x: 1
    if x["Count of Democratic Voters"] > x["Count of Republican Voters"]
    else 0,
    axis=1,
)

In [9]:
df

,County,ID#,Count of Democratic Voters,Count of Republican Voters,Count of No Affiliation Voters,Count of all Other Voters,Total Count of All Voters,,Orientation
0,ADAMS,2290.0,19335,41004,8315,3204,71858,NaN,0
1,ALLEGHENY,2291.0,529297,262770,96487,41821,930375,NaN,1
2,ARMSTRONG,2292.0,12150,25671,3194,1718,42733,NaN,0
3,BEAVER,2293.0,50115,47567,10027,5449,113158,NaN,1
4,BEDFORD,2294.0,6194,23521,2079,1007,32801,NaN,0
...,...,...,...,...,...,...,...,...,...
62,WASHINGTON,2352.0,58346,67307,13664,4137,143454,NaN,0
63,WAYNE,2353.0,9475,20113,4541,1196,35325,NaN,0
64,WESTMORELAND,2354.0,95185,121709,19800,10575,247269,NaN,0
65,WYOMING,2355.0,4799,10345,1251,691,17086,NaN,0
66,YORK,2356.0,98691,159947,41548,9503,309689,NaN,0

In [10]:
np.shape(df["Orientation"])

(67,)